.title{
    margin-bottom: 12px !important;
    margin: 10px;
    color: red;
}

.title2{
    margin-left: 10px !important;
    margin-top: 30px !important;
    margin: 12px;
    color: red;
}

.favorites{
    cursor: pointer;
	font-size: 25px;
    margin-top: 5px;
    margin-left: 0px;
    position: relative;
    left: -10px;
    color: rgb(219, 114, 15);
}

.starwars{
    cursor: pointer; 
    color: rgb(58, 57, 55);
}
.navlink{
    text-decoration: none;

}

.delete-element{
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    color: rgb(17, 16, 17);
  }

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.information{
    margin: 20px;
}

.information-general{
    margin:auto;
    margin-bottom: 30px;
    text-align: center;
}

.information-total{
    margin:auto;
    text-align: center;
    background: white !important;
    color: red;
    border-top: solid 1px red !important;
}